.navbarNav {
    background-color: #ffffff;
    list-style: none !important;
    padding-top: -80px !important;
}

.logoText {
    margin-left: 78px !important;
    margin-top: -1px !important;
}

.logo_pic {
    margin-top: 10px !important;
}