.navbarNav {
    background-color: #ffffff;
    list-style: none !important;
    margin-top: 10px !important;
}

.logoText {
   padding-top: 40px;
  /* padding-left: 0px;*/
  padding-left: 0px;
  /* margin-left: -10px;*/
}

.logo_pic {
    margin-top: 10px !important;
}