.navbarNav {
    background-color: #ffffff;
    list-style: none !important;
}

.logoText {
    margin-left: 110px !important;
    margin-top: -40px !important;
    margin-bottom: 30px !important;
}

.logo_pic {
    margin-top: -5px !important;
}

h1 {
    width: auto;
    margin: auto;
    margin-right: -10px;
}