.background {
    background-color: B0B0B0;
}


.loc_background {
    position: absolute;
    bottom:0;
}

.location {
   display: flex;
   justify-content: center;
   align-items: center;
   height: -5vh;  
}

.header {
    font-weight: normal;
}