.background {
    background-color: B0B0B0;
}


.loc_background {
    position: absolute;
    bottom:0;
}

.location {
    width: auto;
    margin: auto;
    margin-left: 550px;
   /* margin-right: -10px;*/
}